  <% @snapshots.each do |snapshot| %>
    <div class="card mb-5 " style="max-width: 25%;">
          <div class="card-body  mt-4 me-3">
            <h5 class="card-title"><%= snapshot.price%></h5>
            <p class="card-text">Listing ID: <%= snapshot.listing_id %></p>
            <p class="card-text"><%= snapshot.snapshot_date %></p>
          </div>
        </div>
      
  <% end %>
