body {
  height:100vh;
  background-color: white; 

/* TO-DO: Create separate CSS for landing page vs application pages */
  /* background-color: #d2bfc0;  */
}

.main {
}

#background-img{
  background-image: url('/images/background-2.jpg');
  background-repeat: no-repeat; 
  background-size: 100%;
}

.emphasized-low-word{
  color: #F84791;
}
.coming-soon{
  color: black;
}
.landing-page-copy{
  color:black;

}
.landing-page-logo {
}
#join-waitlist-btn, #sign-in-button {
  background-color: #F84791;
  color: white;
}
.error-msg {
  min-height: 100vh;
}

.product-container {
  background: white;
}

.retailer-logo {
  width: 250px;
  height: 100px

}

/* Style the Product Show Page */
.product-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px
}

.product-description {
  font-size: 20px; 
}

.product-volume {
  font-size: 20px;
}

/* Style Index Page */
.product-logo {
  max-width: 250px;
  height: 200px;
}

/* Style links
/* unvisited link */
/* a:link {
  color: #F84791;
} */

/* visited link */
/* a:visited {
  color: #ff2f86;
} */

/* mouse over link */
/* a:hover {
  color: hotpink;
} */

/* selected link */
/* a:active {
  color:#F84791;
} */ 
