<!-- Products#index cards-->
<% @products.each do |product| %>
    <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag(product.image, class: 'ms-3 img-fluid rounded-start product-logo', alt: "#{product.name} logo") %>
        </div>
        <div class="col-md-8">
          <div class="card-body text-end mt-4 me-3">
            <h5 class="card-title"><%= product.name%></h5>
            <p class="card-text"><%= product.brand %></p>
            <p class="card-text"><%= link_to "View Product", product_path(product) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
