<div class="container product-container mb-5">
  <%= render @product %>
  <hr>
  <!-- Price Nav tabs -->
  <%= render "navtabs"%>

  <!-- Tab panes -->
  <%= render "tabcontent" %>

  <div class="back-to-products mb-3">
    <%= link_to "Back to products", products_path %>
  </div>

</div>
